pipeline/Databricks_ETL_Pipeline.json
{
	"name": "Databricks_ETL_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@activity('Lookup1').output.firstRow.main_notebook",
						"type": "Expression"
					},
					"baseParameters": {
						"input_path": "@activity('LookupConfig').output.firstRow.notebook_params.input_path",
						"output_path": "@activity('LookupConfig').output.firstRow.notebook_params.output_path"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}